/**
* Name: Aventureiros
* Thumbnail: thumbnail.png
* Version: 13/11/2013
*/


// Theme Options
// -------------------------

$theme-main-color: 					#5f2351;
$theme-alt-color: 					#df6514;
$theme-main-nav-base-color:			$theme-alt-color;
$theme-footer-base-color:			$theme-alt-color;
$theme-header-background-img:		'flavours/aventureiros/header.jpg';
$theme-logo: 						'flavours/aventureiros/logo.png';
$theme-logo-retina: 				'flavours/aventureiros/logo@2x.png';


@import "iasd-variables";
@import "iasd-bootstrap";
