/**
* Name: Portal do Pastor
* Thumbnail: thumbnail.png
* Version: 13/11/2013
*/



// Theme Options
// -------------------------

$theme-main-color: 					#174052;
$theme-alt-color: 					#ec8000;
$theme-main-nav-base-color:			$theme-alt-color;
$theme-footer-base-color:			$theme-alt-color;
$theme-header-background-img:		'flavours/pastoradventista/header.jpg';
$theme-logo: 						'flavours/pastoradventista/logo.png';
$theme-logo-retina: 				'flavours/pastoradventista/logo@2x.png';

@import "iasd-variables";
@import "iasd-bootstrap";
